.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width:100% !important;
}
.text-right{ text-align: right;}

.fixed-table-header.clearfix {
    display: none !important;
}

.fixed-table-container {
    margin-top: 30px !important;
}

.field-validation-error {
    color: red;
}
.fa {
    padding-right: 7px;
}