* {
    font-size: 12px;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100% !important;
}

.text-right {
    text-align: right;
}

.fixed-table-header.clearfix {
    display: none !important;
}

.fixed-table-container {
    margin-top: 50px !important;
}

.field-validation-error {
    color: red;
}

.fa {
    padding-right: 7px;
}

.fixed-table-body table thead {
    background-color: #73879C;
    color: #ffffff;
}

    .fixed-table-body table thead tr {
        height: 50px;
    }

.fixed-table-loading {
    display: none;
}

.ui-menu-item {
    border-bottom: 1px solid #c7c7c7;
    padding: 10px 10px 0 10px;
    line-height: 25px;
}

    .ui-menu-item:hover, .ui-menu-item:focus {
        background-color: #337ab7;
        color: #ffffff;
    }

.padding-lr-0 {
    padding-left: 0;
    padding-right: 0;
}


.right_col {
    min-height: 800px !important;
}

.input-right {
    text-align: right;
}

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}