﻿.logo2 {
    margin-top: -5px;
}

.logo2 img {
    max-height: 110px;
}

.logo {
    left: 20px;
    top: 60%;
}

    .logo img {
        max-height: 90px;
    }

.topbar-social {
    height: 50%;
}

.topbar-child2 {
    height: 50%;
}

.wrap_menu {
    margin-top: -50px;
}

.wrap_header {
    height: 65px;
}


.logo_footer {
    max-height: 150px;
}

    .logo_footer img {
        height: 100%;
        width: 100%;
    }

.btn-link-about {
    font-size: 23px;
    margin-bottom: 5px;
}

.block2-labelnew::before {
    background-color: initial;
    content: '' !important;
}


.s-text1 {
    font-size: 12px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 12px);
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1.2rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.float-social {
    position: fixed;
    right: 10px;
    top: 50%;
    margin-top: -150px;
    border-bottom: 0;
    z-index: 90;
}

.btn-back-to-top {
    bottom: 160px;
}

.blog-detail-txt p {
    color: initial !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    color: inherit !important;
}

li.flex-w {
    margin-top: 10px;
    border-radius: 4px;
}

.hr {
    border-top: 4px solid rgba(0,0,0,.1);
    color: #c7c7c7;
}

.wrap-pic-w img {
    width: 100%;
    height: 100%;
}

.s-text19 {
    text-transform: inherit;
}

/*.b-r-3 {
    border-right: 3px solid #c7c7c7;
}*/

.font-inherit {
    font-family: inherit;
}

.text-color-inherit {
    color: inherit;
}

header#header .header-link .item .ico, header#header .header-link .item .icon-style-1 {
    font-size: 22px;
    float: left;
    position: absolute;
    left: 0;
    top: 9px;
}

i.ico {
    font-family: icomoon !important;
}

i.ico, i.ico-v2 {
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-style: normal;
}

header#header .header-link .user-profile .box ul.user-ajax-guest li#login_fb_link a span.icon, header#header .header-link .user-profile .box ul.user-ajax-guest li#login_google_link a span.icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 40px;
    left: 0;
    color: #fff;
    border-right: 1px solid #45479d;
    margin-right: 10px;
}

.width-100 {
    width: 100% !important;
}

    .width-100 img,
    .width-100 p {
        width: 100% !important;
    }


p {
    line-height: 1.8 !important;
    color: inherit !important;
}


.content-detail a,
.content-detail p,
.content-detail span {
    line-height: 2.0 !important;
}

.bread-crumb a, .s-text13, .s-text3, .block2-txt {
    color: #212529 !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    color: #fff !important;
}

.news-detail {
    margin: 67px 0 55px;
    padding: 0;
    float: left;
    width: 100%;
}


.news-container .newscontent {
    width: 100%;
    float: left;
    text-align: justify;
    line-height: 2.0;
}

.newscontent h1,
.newscontent h2,
.newscontent h3,
.newscontent h4,
.newscontent h5,
.newscontent h6,
.newscontent p,
.newscontent span {
    line-height: 2.0 !important;
}

    .newscontent p a {
        color: #333;
    }

.newscontent img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.newscontent h1 {
    font-size: 2.0rem !important;
}

.newscontent h2 {
    font-size: 1.75rem !important;
}

.newscontent h3 {
    font-size: 1.5rem !important;
}

.new-title {
    font-size: 20px !important;
}


.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        color: #fff !important;
    }

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}


ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.account_desc li {
    display: inline;
    border-left: 1px dotted #CCC;
}

    .account_desc li:first-child {
        border: none;
    }

.account_desc li {
    display: inline;
    border-left: 1px dotted #CCC;
}

.btn-facebook {
    font-size: 1em;
}

#loading {
    background-color: white;
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    z-index: 1000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    text-align: center;
}

#loading img {
    margin: auto;
    display: block;
    top: calc(50% - 100px);
    left: calc(50% - 10px);
    position: absolute;
    z-index: 999999;
}