<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&autoLogAppEvents=1&version=v4.0&appId=221333588814008"></script>
<!-- Your customer chat code -->
<div id="fb-root"></div>
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="1399090223473000"
     logged_in_greeting="Thuedotot.vn có thể giúp gì cho bạn?"
     logged_out_greeting="Thuedotot.vn có thể giúp gì cho bạn?">
</div>
<div class="float-social" style="right: 0">
    <ul>
        <li>
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FThuedochoitot%2F&width=150&layout=box_count&action=like&size=small&share=true&height=65&appId=569529357184239" width="150" height="65" style="border: none; overflow: hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </li>
    </ul>
</div>