<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&autoLogAppEvents=1&version=v4.0&appId=221333588814008"></script>
<!-- Your customer chat code -->
<div id="fb-root"></div>
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="1399090223473000"
     logged_in_greeting="Thuedotot.vn có thể giúp gì cho bạn?"
     logged_out_greeting="Thuedotot.vn có thể giúp gì cho bạn?">
</div>
<div class="float-social">
    <ul>
        <li>
            <div class="fb-like"
                 data-href="https://www.facebook.com/Thuedochoitot/"
                 data-width="" data-layout="box_count" data-action="like"
                 data-size="small" data-show-faces="true" data-share="true"></div>
        </li>
    </ul>
</div>