@model webNews.Domain.Entities.Vw_Customer
<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45" style="margin-top:20px">
    <div class="flex-w p-b-90">
        <div class="w-size6 p-t-30 p-l-15 p-r-15 respon4">
            @*<h4 class="s-text12 p-b-30">
                    GET IN TOUCH
                </h4>*@
            <div>
                <a href="#" class="logo_footer">
                    <img src="~/images/logo.png" alt="IMG-LOGO">
                </a>
            </div>
            <div>
                <p class="s-text7 w-size27">
                    <span style="font-weight: bold">Địa chỉ: </span> @Model.Address
                </p>
                <p class="s-text7 w-size27">
                    <span style="font-weight: bold">Phone: </span> @Model.Phone
                </p>
                <p class="s-text7 w-size27">
                    <span style="font-weight: bold">Email: </span> @Model.Email
                </p>

                <div class="flex-m p-t-30">
                    <a href="@Model.Facebook" target="_blank" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                </div>
            </div>
        </div>

        <div class="w-size15 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Dành cho người thuê
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Bảo vệ người thuê
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Quy định đối với người thuê
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Giải quyết khiếu nại
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Hướng dẫn người thuê
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size15 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Chăm sóc khách hàng
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Chính sách bảo mật thanh toán
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Chính sách giao hàng
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Chính sách đổi trả
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Chính sách bảo hành
                    </a>
                </li>
            </ul>
        </div>

        @*<div class="w-size7 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Returns
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="#" class="s-text7">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>*@

        <div class="w-size15 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Đăng ký nhận khuyến mại
            </h4>

            <form>
                <div class="effect1 w-size9">
                    <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="Email của bạn">
                    <span class="effect1-line"></span>
                </div>

                <div class="w-size2 p-t-20">
                    <!-- Button -->
                    <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                        Subscribe
                    </button>
                </div>

            </form>
        </div>
    </div>
</footer>
