@using webNews.Domain
<div class="wrap_header fixed-header2 trans-0-4">
    <!-- Logo -->
    <a href="#" class="logo">
        <img src="~/Theme/front-end/images/icons/logo.png" alt="@ViewBag.Title">
    </a>
    <!-- Menu -->
    <div class="wrap_menu_2">
        <nav class="menu">
            <ul class="main_menu">
                @{
                    var route = ViewContext.RouteData;
                    var controller = route.Values["Controller"].ToString();
                    var action = route.Values["Action"].ToString();
                    var listMenu = ServiceFactory.SystemRepository.GetMenuFE();
                    var route = ViewContext.RouteData;
                    var controller = route.Values["Controller"].ToString();
                    var action = route.Values["Action"].ToString();
                }
                @foreach (var item in listMenu)
                {
                    <li class="@(controller == item.Controller && action == item.Action ? "sale-noti" : "")">
                        <a href="@Url.Action(item.Action,item.Controller)">@item.Name</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>