<div class="flex-c-m size22 bg0 s-text21 pos-relative">
    Giao hàng và lắp đặt tại nhà
    <a href="@Url.Action("Index","Category")" class="s-text22 hov6 p-l-5">
        Thuê ngay
    </a>

    <button class="flex-c-m pos2 size23 colorwhite eff3 trans-0-4 btn-romove-top-noti">
        <i class="fa fa-remove fs-13" aria-hidden="true"></i>
    </button>
</div>