<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
        <add name="WebNews" connectionString="Data Source=KAANGKUN;Initial Catalog=web_news;Integrated Security=True;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
<!--    <add name="WebNews" connectionString="Data Source=112.78.2.50,1433;Initial Catalog=thu86467_thuedotot;Integrated Security=True;Persist Security Info=True;User ID=thu86467_admin123;Password=N6f%o63r" providerName="System.Data.SqlClient" />-->
    <!--    <add name="WebNews" connectionString="Data Source=112.78.2.50,1433;Initial Catalog=thu86467_thuedotot;Persist Security Info=True;User ID=thu86467_admin123;Password=N6f%o63r;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>