<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Mail server-->
    <add key="MailServerAddress" value="" />
    <add key="MailServerUser" value="" />
    <add key="MailServerPassword" value="" />
    <!--Mail nhận-->
    <add key="MailParnerAddress" value="" />
  </appSettings>
</configuration>