<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.2" targetFramework="net46" />
  <package id="NLog" version="4.5.8" targetFramework="net46" />
  <package id="NLog.Config" version="4.5.8" targetFramework="net46" />
  <package id="NLog.Schema" version="4.5.8" targetFramework="net46" />
  <package id="ServiceStack" version="5.9.2" targetFramework="net46" />
  <package id="ServiceStack.Client" version="4.5.12" targetFramework="net46" />
  <package id="ServiceStack.Common" version="4.5.12" targetFramework="net46" />
  <package id="ServiceStack.Interfaces" version="4.5.12" targetFramework="net46" />
  <package id="ServiceStack.Text" version="4.5.12" targetFramework="net46" />
</packages>