@using webNews.Models.CategoryManagement

@{
    var listBanners = ViewBag.ListBanners;
}

<div class="banner bgwhite p-t-40 p-b-40">
    <div class="container">
        <div class="row">
            @if (listBanners.Count > 0)
            {
                foreach (var banner in listBanners)
                {
                    <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                        <!-- block1 -->
                        <div class="block1 hov-img-zoom pos-relative m-b-30">
                            <img src="@Url.Content("~/images/banners/" + Path.GetFileName(banner.Url))" alt="IMG-BENNER">

                            <div class="block1-wrapbtn w-size2">
                                <!-- Button -->
                                <a href="@banner.Link" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                                    @banner.Title
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


