@model webNews.Domain.Entities.Vw_News

@{
    ViewBag.Title = "Giới thiệu";
}
<!-- content page -->
<section class="bgwhite p-b-65">
    <div class="container">
        <div class="bread-crumb bgwhite flex-w p-r-15 p-b-15 p-l-15-sm">
            <a href="@Url.Action("Index", "Home")" clas class="s-text13">
                Trang chủ
                <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
            </a>
            <a href="@Url.Action("About", "Home")" clas class="s-text13">
                Giới thiệu
            </a>
        </div>
        <!-- Content-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.Raw(Model.Content)
        </div>
    </div>
</section>